@use "../presets" as *;
@use "../mixins" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  transition: background-color 0.5s;
  letter-spacing: 2px;
  border-width: 2px;
  border-style: solid;
  font-size: 18px;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }

  &--light {
    width: 250px;
    height: 60px;
    border-color: $color-light;
    background-color: rgba($color-light, 0.1);
  }

  &--primary {
    width: 350px;
    height: 60px;
    border-color: $color-primary;
    background-color: rgba($color-primary, 0.8);
  }
}

.visually-hidden {
  @include visually-hidden;
}