@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-family: $font-main;
  font-size: $font-size;
}

h1 {
  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2;

  @include lg-min {
    font-size: 60px;
    letter-spacing: 4.8px;
  }

  @include lg-md {
    font-size: 40px;
    letter-spacing: 3.2px;
  }

  @include md {
    font-size: 30px;
    letter-spacing: 2.4px;
  }
}

h2 {
  font-family: $font-header;
  color: $color-primary;
}

a {
  text-decoration: none;
  color: $color-light;
}

img {
  min-width: 266.55px;
  height: 480px;

  @include md {
    min-width: 236px;
    height: 424.96px;
  }

  @include sm {
    height: 480px;
  }
}