@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-family: $font-main;
  font-size: $font-size;
}

h1 {
  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2;

  @include lg-min {
    font-size: 60px;
    letter-spacing: 4.8px;
  }

  @include lg-md {
    font-size: 40px;
    letter-spacing: 3.2px;
  }

  @include md {
    font-size: 30px;
    letter-spacing: 2.4px;
  }
}

h2 {
  font-family: $font-header;
  color: $color-primary;
  margin-top: 0;
  font-weight: 700;

  @include lg-min {
    margin-bottom: 48px;
    letter-spacing: 4px;
    font-size: 40px;
    line-height: 48px;
  }

  @include lg {
    font-size: 32px;
    letter-spacing: 3.2px;
    line-height: 39px;
    margin-bottom: 41px;
  }

  @include md {
    font-size: 24px;
    letter-spacing: 2.4px;
    line-height: 29px;
    margin-bottom: 36px;
  }

  @include sm {
    text-align: center;
    line-height: 28.5px;
  }
}

a {
  text-decoration: none;
  color: $color-light;
}

img {
  min-width: 266.55px;
  height: 480px;

  @include md {
    min-width: 236px;
    height: 424.96px;
  }

  @include sm {
    height: 480px;
  }
}